## *Sesión de retos*

### Objetivo de la Sesión 3:

* Repasar NumPy resolviendo algunos ejercicios.
* Repasar Pandas resolviendo algunos ejercicios.

### *“Trabajar en equipo, divide el trabajo y multiplica los resultados”*, Anónimo.

In [3]:
import numpy as np
import pandas as pd

# 1. NumPy

1. Muestra la versión de NumPy utilizada

In [4]:

np.version.version

'1.18.1'

2. Crear un arreglo 1D con enteros positivos aleatorios

In [57]:

positivos_aleatorios = np.fromiter((np.random.randint(300) for x in range(1000)),int)
positivos_aleatorios

array([201, 275, 189,  40, 261, 200,  24,  47,  16,  99, 178, 139, 204,
         6, 168,  34, 259, 100, 195, 245,  40,  98, 101,  87, 253,  58,
       263, 175, 139, 164, 217, 296, 103, 286, 278,  69, 101,  45, 210,
        49,  28,  35, 111, 152, 231, 222, 185, 219,   5, 188, 221,  87,
       144, 299, 143, 101,  97, 261,  69,  11, 171,  98, 294,  38, 175,
        15,  53,  59, 235, 177,  11, 192, 165, 287,  67,  68, 220, 114,
       111, 193,   3, 185,  18, 262, 252,   7,  88, 191, 200, 291,  18,
         1,   0,  64, 176, 131, 153, 101,  35,  53,  68, 252, 194,  30,
         2, 206, 241, 100,  59, 282, 285,   5,   2,  50,  35,   4, 268,
       184, 105,  81, 115, 271,  97, 186, 121, 115, 273,  76, 213, 126,
       160, 280, 143,  81, 263, 244,  75, 140,  91,  22, 257, 143,  47,
        85, 224,   5,  44, 199, 266, 233,  57, 229, 275, 256, 188,  39,
       246,  69,  35, 115, 150, 131, 227,  85,  73, 238,  24, 262, 231,
        73,  39,  92,  10,  87, 176, 294, 258, 219, 112, 123, 293, 232,
        78,  27,  98, 231, 267, 238, 110,  49, 207,  75, 170,  91, 213,
        76, 161, 131,  81, 270, 104, 116,  72, 140, 195,  13, 108, 297,
       297,  95,  80,  49, 288, 153, 191, 103, 215, 236, 204, 100, 284,
       235,  91, 127, 190,  87, 231, 230,  71, 281, 272, 154, 253, 238,
       229, 203,  71, 173, 128,  34, 148, 242,  49,  67, 155,  51, 136,
       296, 182, 202, 197, 295, 180,  66,  50, 205,  57, 256, 173, 154,
       197, 142, 137, 151, 128, 106, 245,  77,  54, 289, 149, 134,  67,
        73,  31, 111,  31,  18,  81, 176,  20, 173, 260, 229,  65, 221,
       134, 211, 206, 144,  66, 222, 149,  56, 273, 204, 169, 274, 143,
       237,  88,  38,  68, 139, 125, 260, 153, 209,  93, 229, 145, 237,
       203,  70, 283, 275,   1,  53, 124, 275, 252,  66, 188, 196,  99,
       171, 207,  16,  10, 232,  89,  91, 217, 193, 221, 130, 264, 150,
       255, 283, 238,  67,  54,  88, 134, 222, 150, 188,  54, 262, 290,
       277,  73, 119, 131, 105, 237,  92, 129,  42, 199,  44,  17, 124,
       241, 256, 208,  73, 149, 191, 170, 261, 107, 154,  64, 219,  38,
        17, 179,  90, 276,  42,  86, 164,  74,  33, 258, 126, 116,   5,
        30, 142, 232,  76,  64, 150,  47,  16,  28, 102,  63, 285,  12,
        71, 127,  63, 159, 152, 191,   9, 129, 164, 125,  49, 289, 239,
       152,  33, 218, 291, 244, 257,   3, 285,  36, 149,  29, 136, 114,
       237, 287, 183, 127, 190,  12, 182, 274, 296, 284, 201, 281,  58,
       257,  14, 144, 274,  21, 229, 208, 265,   2,  74,  29, 271, 122,
       207, 160, 185, 156, 151, 125,  81, 277, 164, 187,  65, 245, 196,
        94, 148, 222, 194, 139,  27,  17, 258, 104, 248, 201, 122,  71,
        84,   4, 222, 167, 260,  78,  36, 268,  51, 270, 287, 145, 128,
        91, 186, 151, 165, 275, 232, 173,  56, 239, 285, 227, 268,  64,
         5,  98,  12,  73,  59, 284,  87, 151, 268, 268, 292, 225,  14,
       117, 136,  51, 223, 209,  82, 159, 188, 128, 126, 272, 192,  99,
       198, 153, 255,  56, 193, 129,  91,   9, 232,  81, 153,  11,  91,
       280, 267,   5, 270, 274, 279, 240,  86,   9,  52, 167, 157, 123,
        58, 252, 151, 140, 176, 137, 101, 107, 112,  66, 147, 189, 248,
        25, 178, 296, 266, 235, 179, 218, 125,  20, 140,  40,  73, 171,
        27, 185, 162,  28, 148,  69,   7, 282,  42, 127, 182,  35, 115,
         4, 177,  99, 263, 106, 224,  16,  94,  49, 143, 184, 111,  65,
       244, 239, 265, 164, 225, 277, 270, 275, 174, 280,  26,  53, 291,
       152, 166,  91, 161, 128, 155, 131,  42,  27,  10, 282,  44, 147,
       145, 253, 286,  36,  80,  63, 189, 234,  78, 145, 283, 271, 279,
       247, 177, 245,  24,  47, 145, 233,  72, 282,  15,  62,  88, 148,
        72, 231, 117, 135, 191, 140,  83,  25, 141, 190,   3, 113, 115,
       251,  56, 281, 197, 206, 111,  42,  75,  46, 273, 217, 108, 190,
       198,  90, 143, 219, 188,  37, 169, 131, 245, 107,  43, 273, 148,
        67, 234, 116,  78, 289,  56,  89,  64,  14,  85,  10, 108,  78,
       116, 203,  86, 209,  16, 261, 241, 289, 260,  91, 138, 210,  99,
       190, 102,  43, 239, 183,  57, 171,  97, 296,  32,  92, 291,   3,
       293, 174, 238, 218,   8, 146, 126, 265, 166, 135, 138, 293, 205,
       265, 261,  96, 178,  87,  70, 180, 128,  99,  62,  64, 236, 291,
       130, 180, 103, 182, 159, 226, 229, 258, 182, 146, 205,  54,  36,
       104, 119, 294, 225,  30,  68, 294, 152, 228, 146,  19, 263, 156,
       144,  58,  24, 136, 174, 230, 126, 299, 294, 121, 130,  17, 195,
        39, 225, 110, 247, 268,  60, 135, 249,  20,   5, 211, 124, 229,
       279,  48, 257, 120,  54, 183, 296, 150,  27, 230, 262, 181, 161,
       285, 193,  18, 107, 235, 262, 267, 185, 115,  73, 297, 222,  68,
       287, 274, 136, 278,  78,  78, 198, 277,  32, 163, 146, 286, 262,
       226, 135, 157, 288,  70, 219, 255,  39, 255,  28, 242, 282,  34,
       282, 279, 202, 100,  10,  86,  19,  11,  88,  31, 129, 143, 281,
         5, 271,  20, 280, 178,  73, 228,  85, 170, 192, 229, 140, 279,
       206,   1,  24, 226, 162,  94,  86, 199,  41,  95, 165, 181, 117,
        57, 200, 238, 211, 299, 125, 198, 218, 281, 123, 243, 245, 206,
       115, 152, 143, 284, 187,  16, 282, 167, 185,  37, 244, 228, 277,
       239, 198, 169,  25,  79, 103,  13, 295, 159,  89,  24,  90, 100,
       223,  54,  53, 259,  37,  85,   0,  90,  61, 252, 225,  36, 228,
       232, 267, 262,  89, 239,  55, 206,  92,  53,  50, 186,  88, 181,
       179, 222,  33, 144,  75, 252, 168, 285, 264,  58,  12, 215, 262,
       262, 255, 199, 147, 173, 251, 285,   3, 108,  32, 165,  43])

3. Crear un arreglo booleano

In [121]:

array_boolean = np.array(([np.random.randint(2) for x in range(9)]), dtype=bool)
array_boolean

array([False, False, False, False, False,  True, False,  True,  True])

4. Extraer los items que sean divisibles en 3.

In [72]:
#divisibles = []
divisibles = [x for x in positivos_aleatorios if x % 3 == 0]
print (divisibles)

[201, 189, 261, 24, 99, 204, 6, 168, 195, 87, 69, 45, 210, 111, 231, 222, 219, 87, 144, 261, 69, 171, 294, 15, 177, 192, 165, 114, 111, 3, 18, 252, 291, 18, 0, 153, 252, 30, 282, 285, 105, 81, 186, 273, 213, 126, 81, 75, 57, 39, 246, 69, 150, 24, 231, 39, 87, 294, 258, 219, 123, 78, 27, 231, 267, 207, 75, 213, 81, 270, 72, 195, 108, 297, 297, 288, 153, 204, 87, 231, 51, 180, 66, 57, 54, 111, 18, 81, 144, 66, 222, 273, 204, 237, 153, 93, 237, 252, 66, 99, 171, 207, 264, 150, 255, 54, 222, 150, 54, 105, 237, 129, 42, 261, 219, 90, 276, 42, 33, 258, 126, 30, 150, 102, 63, 285, 12, 63, 159, 9, 129, 33, 291, 3, 285, 36, 114, 237, 183, 12, 201, 144, 21, 207, 156, 81, 222, 27, 258, 201, 84, 222, 78, 36, 51, 270, 186, 165, 285, 12, 87, 225, 117, 51, 159, 126, 192, 99, 198, 153, 255, 129, 9, 81, 153, 267, 270, 279, 240, 9, 123, 252, 66, 147, 189, 171, 27, 162, 69, 282, 42, 177, 99, 111, 225, 270, 174, 291, 42, 27, 282, 147, 36, 63, 189, 234, 78, 279, 177, 24, 72, 282, 15, 72, 231, 117, 135, 141, 3, 111, 42, 75, 273, 108, 198, 90, 219, 273, 234, 78, 108, 78, 261, 138, 210, 99, 102, 183, 57, 171, 291, 3, 174, 126, 135, 138, 261, 96, 87, 180, 99, 291, 180, 159, 258, 54, 36, 294, 225, 30, 294, 228, 156, 144, 24, 174, 126, 294, 195, 39, 225, 60, 135, 249, 279, 48, 120, 54, 183, 150, 27, 285, 18, 267, 297, 222, 78, 78, 198, 135, 288, 219, 255, 39, 255, 282, 282, 279, 129, 228, 192, 279, 24, 162, 165, 117, 57, 198, 123, 243, 282, 228, 198, 159, 24, 90, 54, 0, 90, 252, 225, 36, 228, 267, 186, 222, 33, 144, 75, 252, 168, 285, 264, 12, 255, 147, 285, 3, 108, 165]

5. Convierte el arreglo booleano de 1D a 2D con tres filas (*reshape*)

In [122]:
array_boolean_twod = array_boolean.reshape(3,3)
array_boolean_twod

array([[False, False, False],
       [False, False,  True],
       [False,  True,  True]])

6. Obtén los items comunes entre dos arreglos

In [85]:
items_one = np.array([np.random.randint(10) for x in range(30)])
items_two = np.array([np.random.randint(10) for x in range(30)])
common_items = np.intersect1d(items_one,items_two)
common_items

array([0, 2, 3, 4, 5, 6, 7, 8])

7. Extrae los números del vector creado en el ejercicio 2 que esten a dos números de distancia del valor promedio del arreglo.

In [96]:
promedio = positivos_aleatorios.mean(dtype=int)
numeros_extraidos = np.array([x for x in positivos_aleatorios if x > promedio - 2 and x < promedio + 2])
numeros_extraidos

array([150, 151, 149, 149, 150, 150, 149, 150, 149, 151, 151, 151, 151,
       150])

8. Muestra solo 3 decimales en un vector.

In [130]:
decimales = np.array([np.round(np.random.rand(),3) for x in range(2)])
decimales
#decimales

array([0.351, 0.304])

9. Crea una atriz de 3x3 con los valores del 0 a 8

In [124]:
delunoalocho = np.array(range(0,9))
matriztresportres = delunoalocho.reshape(3,3)
matriztresportres

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

10. Del siguiente areglo [1,2,0,0,4,] encuentra los índices donde los elementos sean diferente a cero.

In [134]:
arreglo_buscarindices = np.array([1,2,0,0,4])
indices = np.array([x for x in range(len(arreglo_buscarindices)) if arreglo_buscarindices[x] != 0] )
indices

array([0, 1, 4])

11. Crea un vector aleatorio de 30 elementos y encuentra la media.

In [137]:
randomthirty = np.array([np.random.rand() for x in range(30)])
avg_randomthirty = randomthirty.mean()
avg_randomthirty

0.5678229914795168

12. Crea un arreglo 2D con 1 en los bordes y 0 dentro. Por ejemplo:
1 1 1 1 1
1 0 0 0 1
1 0 0 0 1
1 1 1 1 1

In [196]:
ones = np.ones((4,5),dtype=int)
ones[1:-1,1:-1] = 0
ones
#ones

array([[1, 1, 1, 1, 1],
       [1, 0, 0, 0, 1],
       [1, 0, 0, 0, 1],
       [1, 1, 1, 1, 1]])

13. ¿Cuál es el resultado de la siguiente expresión?

`0 * np.nan`

`np.nan == np.nan`

`np.inf > np.nan`

`np.nan - np.nan`

`np.nan in set([np.nan])`

`0.3 == 3 * 0.1`

In [150]:
0 * np.nan

np.nan == np.nan

np.inf > np.nan

np.nan - np.nan

np.nan in set([np.nan])

0.3 == np.round(3 * 0.1,1) #this is true

0.3 == 3 * 0.1
3*0.1

0.30000000000000004


14. Crea una matriz de 5x5 con valores 1, 2, 3, 4 justo después de la diagonal.

In [204]:
matrix_fourthteen =  np.diag([1,2,3,4], k=1)
matrix_fourthteen

array([[0, 1, 0, 0, 0],
       [0, 0, 2, 0, 0],
       [0, 0, 0, 3, 0],
       [0, 0, 0, 0, 4],
       [0, 0, 0, 0, 0]])

15. Normaliza una matriz aleatoria de 5x5

In [210]:
random_matrix = np.array([np.random.rand() for x in range(25)]).reshape(5,5)
random_matrix = random_matrix - random_matrix.mean()
random_matrix = random_matrix / random_matrix.max()
random_matrix

array([[ 0.69303951, -0.89793877,  0.03317345, -0.83218769,  0.41446321],
       [ 0.75752603,  0.91895258,  0.24163291, -0.20500055,  1.        ],
       [ 0.48421197,  0.3122285 , -0.12071424, -0.99882722, -0.55528776],
       [ 0.33211858,  0.22250694,  0.95794709,  0.09104443, -0.60953768],
       [-1.03030297, -0.90543274, -0.27853306,  0.97289144, -0.99797396]])

# 2. Pandas

1. Imprime toda la información de versión de las librerias que necesita la biblioteca de pangas.

In [214]:
pd.__version__
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.6.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 158 Stepping 10, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.None

pandas           : 1.0.0
numpy            : 1.18.1
pytz             : 2019.3
dateutil         : 2.8.1
pip              : 20.0.2
setuptools       : 45.1.0.post20200127
Cython           : 0.29.14
pytest           : 5.3.5
hypothesis       : 5.4.1
sphinx           : 2.3.1
blosc            : None
feather          : None
xlsxwriter       : 1.2.7
lxml.etree       : 4.5.0
html5lib         : 1.0.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.1
IPython          : 7.12.0
pandas_datareader: None
bs4              : 4.8.2
bottleneck       : 1.3.1
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.5.0
matplotlib       : 3.1.3
numexpr          : 2.7.1
odfpy            : None
openpyxl         : 3.0.3
pandas_gbq       : None
pyarrow          : None
pytables         : None
pytest           : 5.3.5
pyxlsb           : None
s3fs             : None
scipy            : 1.3.2
sqlalchemy       : 1.3.13
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 1.2.0
xlwt             : 1.3.0
xlsxwriter       : 1.2.7
numba            : 0.48.0

Considera el siguiente diccionario y lista.


```
data = {
     'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
     'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
     'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
     'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

2. Crea un DataFrame con el diccionario *data* que tenga como índices los valores de la lista *labels*.

In [4]:
data = {
     'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
     'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
     'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
     'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

dataframe_panda = pd.DataFrame(data,labels)
dataframe_panda

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

3. Muestra una descripción o información básica acerca del DataFrame y sus datos. (Pista: existe una función que lo muestra).

In [217]:
dataframe_panda.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

4. Regresa las primeras 3 filas del DataFrame

In [219]:
dataframe_panda[0:3]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

5. Cambia el nombre de las columnas por:


*   Animal
*   Edad
*   Visitas
*   Prioridad

In [5]:
dataframe_panda.columns = ["Animal","Edad","Visitas","Prioridad"]
dataframe_panda

  Animal  Edad  Visitas Prioridad
a    cat   2.5        1       yes
b    cat   3.0        3       yes
c  snake   0.5        2        no
d    dog   NaN        3       yes
e    dog   5.0        2        no
f    cat   2.0        3        no
g  snake   4.5        1        no
h    cat   NaN        1       yes
i    dog   7.0        2        no
j    dog   3.0        1        no

6. Muestra solo la columna "animal" and "age". ¿Esto es posible? Si no es posible, ¿qué debería ser?

In [244]:
getdfcolandchangeit = dataframe_panda[["Animal","Edad"]]
getdfcolandchangeit.columns = ["Animal","Age"]
getdfcolandchangeit

  Animal  Age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

7. Selecciona solo las filas donde el número de visitas sea mayor que 3.

In [245]:
dataframe_panda["Visitas"] > 3

a    False
b    False
c    False
d    False
e    False
f    False
g    False
h    False
i    False
j    False
Name: Visitas, dtype: bool

8. ¿Cuáles son las filas donde la edad es NaN?

In [262]:
#print(dataframe_panda[train["Electrical"].isnull()][null_columns])
dataframe_panda[dataframe_panda["Edad"].isnull()]

  Animal  Edad  Visitas Prioridad
d    dog   NaN        3       yes
h    cat   NaN        1       yes

9. ¿Qué animales tienen una edad entre 2 y 4 años?

In [269]:
dataframe_panda[(dataframe_panda["Edad"] >=2) & (dataframe_panda["Edad"] <=4)]

  Animal  Edad  Visitas Prioridad
a    cat   2.5        1       yes
b    cat   3.0        3       yes
f    cat   2.0        3        no
j    dog   3.0        1        no

10. ¿Cuál es el total de todas las visitas?

In [272]:
dataframe_panda[["Visitas"]].sum()

Visitas    19
dtype: int64

12. Tenemos diferentes animales, ¿cuál es el número total de cada tipo de animal?

In [314]:
#dataframe_panda.groupby("Animal").groups
#dataframe_panda.groupby("Animal").count()
dataframe_panda.groupby("Animal").size()

Animal
cat      4
dog      4
snake    2
dtype: int64

13. Cambia los valores de la columna Prioridad por valores booleanos, es decir:
'yes' => True 
'no' => False

In [304]:
dataframe_panda['Prioridad'] = dataframe_panda['Prioridad'].eq('yes').mul(True)
dataframe_panda

  Animal  Edad  Visitas  Prioridad
a    cat   2.5        1       True
b    cat   3.0        3       True
c  snake   0.5        2      False
d    dog   NaN        3       True
e    dog   5.0        2      False
f    cat   2.0        3      False
g  snake   4.5        1      False
h    cat   NaN        1       True
i    dog   7.0        2      False
j    dog   3.0        1      False

14. Ordena el DataFrame por la Edad en orden descendiente y después por la columna Visitas en orden ascendente.

In [311]:
print(dataframe_panda.sort_values(by=["Edad"],ascending = False))
print(dataframe_panda.sort_values(by=["Edad"],ascending = True))

  Animal  Edad  Visitas  Prioridad
i    dog   7.0        2      False
e    dog   5.0        2      False
g  snake   4.5        1      False
b    cat   3.0        3       True
j    dog   3.0        1      False
a    cat   2.5        1       True
f    cat   2.0        3      False
c  snake   0.5        2      False
d    dog   NaN        3       True
h    cat   NaN        1       True
  Animal  Edad  Visitas  Prioridad
c  snake   0.5        2      False
f    cat   2.0        3      False
a    cat   2.5        1       True
b    cat   3.0        3       True
j    dog   3.0        1      False
g  snake   4.5        1      False
e    dog   5.0        2      False
i    dog   7.0        2      False
d    dog   NaN        3       True
h    cat   NaN        1       True

15. Para cada tipo de animal y cada número de visitas encuentra la edad promedio. 
(Pista: Si haz utilizado tablas pivotes, cada fila es un animal, cada columna es el número de visitas y los valores son la media de la edad).

In [7]:
#mediaedad  tipodeanimal   visitas
dictionary = {}
x = 0
for groupname, group in dataframe_panda.groupby(["Animal","Visitas"]):
    current_edad = 0
    edad = group["Edad"].sum()
    #print(edad)
    dictionary[x] = {"TipoAnimal":groupname[0],"Visitas":groupname[1],"EdadPromedio":edad.mean()}
    x = x +1

panda_result = pd.DataFrame(dictionary)
panda_result

                0    1    2    3    4      5      6
TipoAnimal    cat  cat  dog  dog  dog  snake  snake
Visitas         1    3    1    2    3      1      2
EdadPromedio  2.5    5    3   12    0    4.5    0.5

<# 3. Retos (opcional)

- Random Walk

- Game of Life

- Imagenes

- Texto